.container {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-size: 36px;
	margin-bottom: 30px;
}

#word-container {
	margin-bottom: 20px;
	font-size: 24px;
}

#guess-container {
	margin-bottom: 20px;
}

#guess-input {
	width: 30px;
	margin-right: 10px;
}

#result-container {
	font-size: 24px;
	margin-top: 20px;
}